/* COLOR VARIABLES */
/*1200/16*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F2E9E4; }

.paragraph {
  color: #F2E9E4;
  font-size: 1.6rem;
  text-align: justify; }
  .paragraph--dark {
    color: black; }

.redspan {
  color: #BF3E21; }

.heading-1 {
  color: #F2E9E4;
  font-size: 12vw;
  font-family: "Raleway", sans-serif; }

.heading-2 {
  color: #F2E9E4;
  font-size: 4rem;
  font-family: "Raleway", sans-serif; }

.heading-3 {
  color: #BF3E21;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100; }
  .heading-3--name {
    padding-left: 1rem;
    text-transform: uppercase;
    color: #F2E9E4; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  transition: all .2s;
  font-size: 1.6rem;
  background-color: #BF4E24;
  color: #F2E9E4;
  text-align: center;
  font-size: 1.4rem;
  border: 2px solid #BF4E24;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(242, 233, 228, 0.1);
  background-color: #BF3E21; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(242, 233, 228, 0.1); }

.icon {
  height: 4rem;
  width: 4rem;
  fill: #BF4E24; }
  .icon--two {
    height: 8vw;
    width: 8vw; }

.iconlist {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem; }

.paragraph {
  color: #F2E9E4; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] 5fr [center-end] 1fr [full-end]; }

.header {
  grid-column: full-start / full-end;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(../img/header-back.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .header {
      height: 70vh; } }
  .header__name {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-top: 2rem; }
  .header__title {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: min-content;
    align-content: center; }
  @media only screen and (max-width: 50em) {
    .header__icon {
      width: 2.5rem;
      height: 2.5rem; } }

.presentation {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.9));
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 50em) {
    .presentation {
      grid-template-rows: repeat(5, min-content);
      grid-template-columns: 60vw;
      justify-content: center;
      grid-row-gap: 4rem; } }
  .presentation__heading {
    padding-top: 2rem;
    grid-row: 1/2;
    grid-column: 2/3; }
    @media only screen and (max-width: 50em) {
      .presentation__heading {
        grid-column: 1/2; } }
  .presentation__paragraph {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .presentation__paragraph {
        font-size: 1.2rem;
        margin-left: 3rem; } }
    @media only screen and (max-width: 50em) {
      .presentation__paragraph {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-left: 0; } }
    @media only screen and (max-width: 31.2em) {
      .presentation__paragraph {
        padding: 0; } }
  .presentation__btn {
    grid-row: 2/3;
    grid-column: 2/3; }
    @media only screen and (max-width: 50em) {
      .presentation__btn {
        grid-row: 3/4;
        grid-column: 1/2; } }
  .presentation__portrait {
    width: 16vw;
    border: 2px solid rgba(242, 233, 228, 0.6);
    border-radius: 50%;
    background-color: transparent;
    grid-row: 2/3;
    grid-column: 3/4; }
    @media only screen and (max-width: 50em) {
      .presentation__portrait {
        grid-row: 4/5;
        grid-column: 1/2;
        width: 35vw; } }
    @media only screen and (max-width: 31.2em) {
      .presentation__portrait {
        width: 45vw; } }

.skills {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-items: center; }
  .skills__heading {
    padding-top: 10rem;
    padding-bottom: 8rem;
    grid-row: 1/2;
    grid-column: 2/3; }
    @media only screen and (max-width: 50em) {
      .skills__heading {
        padding-top: 5rem; } }
  .skills__display {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 50em) {
      .skills__display {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-gap: 0rem; } }
  .skills__cards {
    width: 22vw;
    background-color: #F2E9E4;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 6rem;
    border-radius: .3rem;
    padding: 2rem;
    outline-offset: -1rem;
    outline: 2px solid #F2E9E4;
    text-align: center; }
    .skills__cards:not(:last-child) {
      border-right: 1px solid #BF3E21; }
    @media only screen and (max-width: 62.5em) {
      .skills__cards {
        width: 25vw; } }
    @media only screen and (max-width: 50em) {
      .skills__cards {
        width: 50vw; } }
    @media only screen and (max-width: 41.2em) {
      .skills__cards {
        width: 65vw; } }
    @media only screen and (max-width: 31.2em) {
      .skills__cards {
        width: 75vw; } }
    @media only screen and (max-width: 26.2em) {
      .skills__cards {
        width: 90vw; } }
    .skills__cards--1 {
      grid-column: 1/2; }
      @media only screen and (max-width: 50em) {
        .skills__cards--1 {
          grid-column: 1/2;
          grid-row: 1/2; } }
    .skills__cards--2 {
      grid-column: 2/3; }
      @media only screen and (max-width: 50em) {
        .skills__cards--2 {
          grid-column: 1/2;
          grid-row: 2/3; } }
    .skills__cards--3 {
      grid-column: 3/4; }
      @media only screen and (max-width: 50em) {
        .skills__cards--3 {
          grid-column: 1/2;
          grid-row: 3/4; } }
  .skills__icon {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 1.6rem; }
    @media only screen and (max-width: 41.2em) {
      .skills__icon {
        width: 5rem;
        height: 5rem; } }
  .skills__displayheading {
    font-size: 2rem;
    font-weight: bolder;
    grid-row: 2/3;
    grid-column: 1/2;
    border-bottom: 1px solid #BF4E24; }
    @media only screen and (max-width: 75em) {
      .skills__displayheading {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 62.5em) {
      .skills__displayheading {
        font-size: 2rem; } }
    @media only screen and (max-width: 50em) {
      .skills__displayheading {
        font-size: 3rem; } }
    @media only screen and (max-width: 41.2em) {
      .skills__displayheading {
        font-size: 2.2rem; } }
  .skills__paragraph {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 1.4rem;
    padding: 1.5rem; }
  .skills__list {
    font-size: 1.6rem;
    grid-row: 4/5;
    grid-column: 1/2;
    list-style: none;
    padding-bottom: 1.6rem;
    display: flex;
    flex-direction: column; }
    .skills__list__item {
      padding: 1.6rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 50em) {
        .skills__list__item {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 41.2em) {
        .skills__list__item {
          font-size: 1.3rem; } }

.websites {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 50em) {
    .websites {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, 1fr); } }
  .websites__heading {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 10rem;
    padding-bottom: 8rem; }
    @media only screen and (max-width: 50em) {
      .websites__heading {
        grid-column: 1/2; } }
  .websites__card {
    width: 24vw;
    background-color: #F2E9E4;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: min-content min-content 8vw min-content;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 6rem;
    border-radius: .2rem; }
    @media only screen and (max-width: 50em) {
      .websites__card {
        grid-column: 1/2;
        grid-row: auto;
        width: 47vw; } }
    @media only screen and (max-width: 41.2em) {
      .websites__card {
        width: 70vw; } }
    @media only screen and (max-width: 31.2em) {
      .websites__card {
        width: 75vw; } }
    @media only screen and (max-width: 26.2em) {
      .websites__card {
        width: 95vw; } }
  .websites__img {
    grid-row: 1/2;
    border-radius: 0.2rem;
    filter: sepia(80%);
    max-width: 100%;
    height: auto;
    transition: all 0.2s; }
    .websites__img:hover {
      filter: none;
      transform: scale(1.05); }
    @media only screen and (max-width: 41.2em) {
      .websites__img {
        max-width: 100%;
        height: auto; } }
  .websites__cardheading {
    grid-row: 2/3;
    font-size: 3rem;
    font-weight: bolder;
    padding: 2rem;
    border-bottom: 1px solid #BF4E24; }
    @media only screen and (max-width: 62.5em) {
      .websites__cardheading {
        font-size: 1.4rem;
        border-bottom: none;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 75em) {
      .websites__cardheading {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .websites__cardheading {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 41.2em) {
      .websites__cardheading {
        font-size: 2.4rem; } }
    @media only screen and (max-width: 31.2em) {
      .websites__cardheading {
        margin-bottom: 2rem; } }
  .websites__paragraph {
    grid-row: 3/4;
    margin: 4rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 62.5em) {
      .websites__paragraph {
        font-size: 1rem;
        margin-top: 1rem; } }
    @media only screen and (max-width: 75em) {
      .websites__paragraph {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 50em) {
      .websites__paragraph {
        font-size: 1.4rem;
        margin: 0;
        padding: 4rem; } }
    @media only screen and (max-width: 31.2em) {
      .websites__paragraph {
        padding: 2rem; } }
  .websites__btn {
    margin: 2rem; }
    @media only screen and (max-width: 50em) {
      .websites__btn {
        margin: 5rem;
        font-size: 1rem; } }
    @media only screen and (max-width: 41.2em) {
      .websites__btn {
        width: 20vw;
        font-size: 1rem; } }
    @media only screen and (max-width: 31.2em) {
      .websites__btn {
        width: 40vw; } }

.footer {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), black);
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 6rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      height: 30vh; } }
