/* COLOR VARIABLES */

$color-blue-primary: #031740;
$color-blue-secondary: #4C5973;

$color-light: #F2E9E4;
$color-secondary-light: #262523;

$color-red-primary: #BF4E24;
$color-red-secondary:#BF3E21;

$color-dark: black;


// FONT VARIABLES

 $font-primary: 'Raleway', sans-serif;

 $font-text: 'Montserrat', sans-serif;




//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; /*1200/16*/
$bp-large: 62.5em;
$bp-medium:50em;
$bp-small: 41.2em;
$bp-verysmall: 31.2em;
$bp-veryverysmall: 26.2em;

