.container {
	display: grid;
	grid-template-columns: [full-start]1fr[center-start]5fr[center-end]1fr[full-end]
}

.header{
	grid-column: full-start / full-end; 
	height:100vh;
	background-image: linear-gradient(
		to right bottom,
		rgba($color-dark, 0.8),
		rgba($color-dark, 0.1)),
	url(../img/header-back.jpg);
	background-size: cover;
	background-position: top;

	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-gap: 1rem;

	@media only screen and (max-width: $bp-large) {
		height:70vh;
	}

	&__name{
		grid-row: 1 / 2;
		display:flex;
		justify-content: space-between;	
		padding-right:2rem;	
		padding-top: 2rem;
	}

	&__title{
		grid-row: 2 / 3;
		display:grid;
		grid-template-columns: min-content;
		align-content: center;

	}

	&__icon{
		@media only screen and (max-width: $bp-medium) {
			width:2.5rem;
			height:2.5rem;
		}
	}

}

.presentation{
	grid-column: full-start / full-end; 
	background: linear-gradient(
		to bottom,
		rgba($color-dark, 1),
		rgba($color-dark, 0.9));
	display:grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	align-items: center;
	justify-items: center;

	@media only screen and (max-width: $bp-medium) {
		grid-template-rows: repeat(5, min-content);
		grid-template-columns: 60vw;
		justify-content: center;
		grid-row-gap: 4rem;		
	}

	&__heading{
		padding-top: 2rem;
		grid-row: 1/2;
		grid-column: 2/3;

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1/2;
		}

	}
	&__paragraph{
		grid-row: 2/3;
		grid-column: 1/2;
		padding:2rem;

		@media only screen and (max-width: $bp-large) {
			font-size:1.2rem;
			margin-left: 3rem;
		}

		@media only screen and (max-width: $bp-medium) {
			grid-row: 2/3;
			grid-column: 1/2;
			margin-left:0;
		}

		@media only screen and (max-width: $bp-verysmall) {
			padding:0;
		}	
	}

	&__btn{
		grid-row: 2/3;
		grid-column: 2/3;

		@media only screen and (max-width: $bp-medium) {
			grid-row: 3/4;
			grid-column: 1/2;
		}
		
	}
	&__portrait{
		width:16vw;
		border:2px solid rgba($color-light, 0.6);
		border-radius: 50%;
		background-color: transparent;
		grid-row: 2/3;
		grid-column: 3/4;

		@media only screen and (max-width: $bp-medium) {
			grid-row: 4/5;
			grid-column: 1/2;
			width:35vw;
		}
		@media only screen and (max-width: $bp-verysmall) {
			width:45vw;
		}
		
	}
}

.skills{
	grid-column: full-start / full-end; 
	background: linear-gradient(
		to bottom,
		rgba($color-dark, 0.9),
		rgba($color-dark, 0.9));
	
	display:grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: 1fr 5fr 1fr;
	align-items: center;
	justify-items: center;

	&__heading{
		padding-top: 10rem;
		padding-bottom: 8rem;
		grid-row: 1/2;
		grid-column: 2/3;

		@media only screen and (max-width: $bp-medium) {
			padding-top: 5rem;
		}
	}

	&__display{
		grid-row: 2/3;
		grid-column: 2/3;

		display:grid;

		grid-template-columns: repeat(3, 1fr);

		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: 1fr;
			grid-template-rows: min-content;
			grid-gap: 0rem;
		}
	}

	&__cards{
		width:22vw;
		background-color: $color-light;

		display:grid;
		grid-template-rows: min-content;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
		margin-bottom:6rem;
		border-radius:.3rem;
		padding:2rem;
		outline-offset: -1rem;
		outline: 2px solid $color-light;
		text-align: center;

		&:not(:last-child){
			border-right:1px solid $color-red-secondary;
		}

		


		@media only screen and (max-width: $bp-large) {
			width:25vw;
		}

		@media only screen and (max-width: $bp-medium) {
			width:50vw;
		}

		@media only screen and (max-width: $bp-small) {
			width:65vw;
		}
		@media only screen and (max-width: $bp-verysmall) {
			width:75vw;
		}

		@media only screen and (max-width: $bp-veryverysmall) {
			width:90vw;
		}

		&--1{
			grid-column: 1/2;
			@media only screen and (max-width: $bp-medium) {
				grid-column: 1/2;
				grid-row: 1/2;
			}
		}

		&--2{
			grid-column: 2/3;
			@media only screen and (max-width: $bp-medium) {
				grid-column: 1/2;
				grid-row: 2/3;
			}
		}

		&--3{
			grid-column: 3/4;
			@media only screen and (max-width: $bp-medium) {
				grid-column: 1/2;
				grid-row: 3/4;
			}
		}
	}

	&__icon{
		grid-column: 1/2;
		grid-row: 1/2;
		padding-top:1.6rem;
		@media only screen and (max-width: $bp-small) {
			width:5rem;
			height:5rem;
		}

		
	}

	&__displayheading{
		font-size:2rem;
		font-weight: bolder;
		grid-row: 2/3;
		grid-column: 1/2;
		border-bottom: 1px solid $color-red-primary;
		
		
		@media only screen and (max-width: $bp-largest) {
			font-size:2.2rem;
		}
		@media only screen and (max-width: $bp-large) {
			font-size: 2rem;
		}
		@media only screen and (max-width: $bp-medium) {
			font-size: 3rem;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: 2.2rem;
		}
	}

	&__paragraph{
		grid-row: 3/4;
		grid-column: 1/2;
		font-size:1.4rem;
		padding:1.5rem;
	}
	
	&__list{
		font-size: 1.6rem;
		grid-row: 4/5;
		grid-column: 1/2;
		list-style:none;
		
		padding-bottom:1.6rem;
		display: flex;
		flex-direction: column;
		

		&__item{
			padding:1.6rem;
			display:flex;
			align-items: center;

			@media only screen and (max-width: $bp-medium) {
				font-size: 1.4rem;
			}

			@media only screen and (max-width: $bp-small) {
				font-size: 1.3rem;
			}
		}
	}
}


.websites{
	grid-column: full-start / full-end; 
	background: linear-gradient(
		to bottom,
		rgba($color-dark, 0.9),
		rgba($color-dark, 0.8));

	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	align-items: center;
	justify-items: center;

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fit, 1fr);
	}

	&__heading{
		grid-row: 1/2;
		grid-column: 2/3;
		padding-top: 10rem;
		padding-bottom: 8rem;

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1/2;
		}
	}

	&__card{
		width:24vw;
		background-color: $color-light;
		grid-row:2/3;

		display:grid;
		grid-template-rows: min-content min-content 8vw min-content;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
		margin-bottom:6rem;
		border-radius:.2rem;

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1/2;
			grid-row:auto;
			width:47vw;
		}

		@media only screen and (max-width: $bp-small) {
			width:70vw;
		}
		@media only screen and (max-width: $bp-verysmall) {
			width:75vw;
		}
		@media only screen and (max-width: $bp-veryverysmall) {
			width:95vw;
		}
	}

	&__img{	
		grid-row: 1/2;
		border-radius:0.2rem;
		filter:sepia(80%);		
		max-width: 100%;
		height: auto;
		transition: all 0.2s;


		&:hover{
			filter:none;
			transform: scale(1.05);
		}

		@media only screen and (max-width: $bp-small) {
			max-width: 100%;
			height: auto;			
		}		
	}

	&__cardheading{
		grid-row: 2/3;
		font-size:3rem;
		font-weight: bolder;
		padding:2rem;
		border-bottom: 1px solid $color-red-primary;

		@media only screen and (max-width: $bp-large) {
			font-size: 1.4rem;
			border-bottom: none;
			margin-bottom: 1rem;
		}
		@media only screen and (max-width: $bp-largest) {
			font-size:2.5rem;
		}
		@media only screen and (max-width: $bp-large) {
			font-size:2.2rem;
		}
		@media only screen and (max-width: $bp-small) {
			font-size:2.4rem;
		}
		@media only screen and (max-width: $bp-verysmall) {
			margin-bottom:2rem;
		}
	}

	&__paragraph{
		grid-row: 3/4;
		margin:4rem;
		font-size:1.4rem;

		@media only screen and (max-width: $bp-large) {
			font-size: 1rem;
			margin-top:1rem;
		}
		@media only screen and (max-width: $bp-largest) {
			font-size:1.2rem;
		}
		@media only screen and (max-width: $bp-medium) {
			font-size: 1.4rem;
			margin:0;
			padding:4rem;
		}
		
		@media only screen and (max-width: $bp-verysmall) {
			
			padding:2rem;
		}
	}

	&__btn{
		
		margin:2rem;

		@media only screen and (max-width: $bp-medium) {
			margin:5rem;
			font-size:1rem;
		}

		@media only screen and (max-width: $bp-small) {
			width:20vw;
			font-size:1rem;
		}

		@media only screen and (max-width: $bp-verysmall) {
			width:40vw;
		}	
	}
}

.footer{
	grid-column: full-start / full-end; 
	background: linear-gradient(
		to bottom,
		rgba($color-dark, 0.8),
		rgba($color-dark, 1));
	height:50vh;

	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-gap:6rem;
	justify-items:center;
	align-items: center;

	@media only screen and (max-width: $bp-large) {
		height:30vh;
	}
}