
.btn{

  &, 
 &:link,
 &:visited {

 text-transform: uppercase;
 text-decoration: none;
 padding: 1.5rem 2rem;
 border-radius: 0.5rem;
 transition: all .2s;  
 font-size: 1.6rem;
 background-color: $color-red-primary;
 color:$color-light;
 text-align: center;
 font-size: 1.4rem;
 border: 2px solid $color-red-primary;
 cursor: pointer;
 }
 
 &:hover {
  transform:translateY(-0.5rem); 
  box-shadow: 0 1rem 2rem rgba($color-light, .1); 
  background-color: $color-red-secondary;
  
  &::after {
   transform: scaleX(1.4) scaleY(1.6); 
   opacity: 0; 
  }
 }


 &:active,
 &:focus {
  outline: none; 
  transform:translateY(-0.1rem); 
  box-shadow: 0 0.5rem 1rem rgba($color-light, .1); 
 }

 
}