.icon{
	height: 4rem;
    width: 4rem;
    fill: $color-red-primary;
 &--one{
   
 }  

 &--two{
 	height: 8vw;
    width: 8vw;
 } 
}

.iconlist{
	height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}