
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;  
}

body {
	font-family: $font-text;
	background-color: $color-light;	
}