   
.paragraph{
	color:$color-light;
	font-size: 1.6rem;
	text-align: justify;

	&--dark{
		color:black;
	}
}

.redspan{
	color: $color-red-secondary;
}


.heading-1{
	color:$color-light;
	font-size: 12vw;
	font-family: $font-primary;
}

.heading-2{
	color:$color-light;
	font-size: 4rem;
	font-family: $font-primary;
}

.heading-3{

	color:$color-red-secondary;
	font-size: 2rem;
	font-family: $font-primary;
	font-weight: 100;

	

	&--name{
		padding-left: 1rem;
		text-transform: uppercase;
		color:$color-light;
	}

}